*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background:linear-gradient(#5E1C1D 10%,#060606 35%);
    font-family: poppins;
    overflow: hidden;
}

header{
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
    gap: 40px;
    color: white;
    position: sticky;
}

header span{
    color:  lightgrey;
}

main{
    display: grid;
    overflow-y: scroll;
    scrollbar-width: none;
    place-items: center;
    gap: 18px;
}

main div{
    width: 600px;
}

main p{
    font-size: 28px;
}

main span{
    font-size: 20px;
}

main img{
    display: flex;
    justify-self: flex-end;
}

.actions{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
    position: relative;
    justify-content: space-between;
    
}

.imagem-album{
    height: 280px;
    width: 280px;
    background-color: lightblue;
}

.info-album{
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.imagem-artista{
    height: 32px;
    width: 48px;
    border-radius: 50px;
    background-color: blueviolet;
}

.artista{
    display: flex;
    margin-top: 12px;
    gap: 8px;
    font-size: 20px;
}

.info-album h1{
    font-size: 32px;
}

.info-album span{
    font-size: 20px;
}

.info-album a{
    color: darkgray;
}


main{
    height: 75%;
    color: white;
}
